:root {
  --blue: #162b1a;
  --white: #ffffff;
  --black:#151515;
  --black2: #999;
  --sidebar-bg: #ffffff;
  --hover-bg: #101010 ;
  --border-color: #e0e0e0;
}

.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  /* padding: 12px 18px; */
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  /* border-bottom: 1px solid var(--border-color); */
  white-space: nowrap;
}
.sidebar .sidebar-header img{
  width: 250px;

}
.sidebar .sidebar-header i {
  margin-right: 12px;
  font-size: 24px;
  min-width: 30px;
  text-align: center;
}

.sidebar.collapsed .sidebar-header span {
  display: none;
}

.sidebar a {
  padding: 12px 18px;
  text-decoration: none;
  font-size: 20px;
  color: var(--black);
  display: flex;
  align-items: center;
}

.sidebar a i {
  margin-right: 12px;
  font-size: 24px;
  min-width: 30px;
  text-align: center;
}

.sidebar a span {
  display: inline-block;
  white-space: nowrap;
}

.sidebar a:hover {
  background-color: var(--hover-bg);
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover i {
  transform: rotate(20deg);
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed a span {
  opacity: 0;
}

.sidebar.collapsed .sidebar-footer {
  text-align: center;
}

.sidebar.collapsed ~ #content {
  padding-left: 80px;
}

.menu-icon {
  position: fixed;
  top: 15px;
  left: 260px;
  z-index: 2;
  /* transition: left 0.3s; */
}

.sidebar.collapsed ~ .menu-icon {
  left: 80px;
}

.search-bar {
  position: fixed;
  top: 15px;
  right: 15px;
}

.sidebar-footer {
  border-top: 1px solid var(--border-color);
}

.sidebar-links {
  margin-top: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }
  .sidebar a span,
  .sidebar .sidebar-header span {
    display: none;
  }
  #content {
    padding-left: 80px;
  }
  .menu-icon {
    display: none;
  }
  .sidebar .sidebar-header img{
    width: 90px;
  }
}
