.modal-dialog.modal-xl {
  max-width: 90%;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
  padding: 1rem 1.5rem;
  background-color: #007bff;
  color: white;
}

.modal-body {
  padding: 20px;
  background-color: #f8f9fa;
}

.table {
  margin-bottom: 0;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #d4edda;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-responsive {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.modal-footer {
  padding: 1rem;
}
.modal-footer button {
  padding: 10px 20px;
  font-size: 16px;
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 4px;
}
